---
const lang = 'zh';
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0;url=/${lang}`} />
    <title>小皮博客</title>
  </head>
  <body>
    <p><a href={`/${lang}`}>Redirecting...</a></p>
  </body>
</html>
